{% extends 'base.html' %}
{% load staticfiles %}
{% block main %}
<main class="col-md-8">
        {% for contact in contacts %}
        <article class="post post-{{ post.pk }}">
            <header class="entry-header">
                <h1 class="entry-title">
                    <a href="{{ contact.get_absolute_url }}">{{ contact.title }}</a>
                </h1>
                <div class="entry-meta">
                    <span class="post-category"><a href="#">{{ contact.category.name }}</a></span>
                    <span class="post-date"><a href="#"><time class="entry-date"
                                                              datetime="{{ post.created_time }}">{{ contact.created_time }}</time></a></span>
                    <span class="post-author"><a href="#">{{ contact.author }}</a></span>
                    <span class="comments-link"><a href="#">{{ contact.comment_set.count }} 评论</a></span>
                    <span class="views-count"><a href="#">{{ contact.views }} 阅读</a></span>
                </div>
            </header>
            <div class="entry-content clearfix">
                <p>{{ contact.excerpt }}</p>
                <div class="read-more cl-effect-14">
                    <a href="{{ contact.get_absolute_url }}" class="more-link">继续阅读 <span class="meta-nav">→</span>
                    </a>
                </div>
            </div>
        </article>
        {% empty %}
        <div class="no-post">暂时还没有发布的文章！</div>
        {% endfor %}
    <!--
        <div class="pagination">
            <span class="step-links">
                {% if contacts.has_previous %}
                    <a href="?page=1">&laquo; 第1页</a>
                    <a href="?page={{ contacts.previous_page_number }}">向前</a>
                {% endif %}

                <span class="current">
                    第{{ contacts.number }}页|总{{ contacts.paginator.num_pages }}页
                </span>

                {% if contacts.has_next %}
                    <a href="?page={{ contacts.next_page_number }}">向后</a>
                    <a href="?page={{ contacts.paginator.num_pages }}">最后 &raquo;</a>
                {% endif %}
            </span>
        </div>
    -->
    {% if is_paginated %}
    <div class="pagination">
        {% if first %}
        <a href="?page=1">1</a>
        {% endif %}
        {% if left %}
        {% if left_has_more %}
        <span>...</span>
        {% endif %}
        {% for i in left %}
        <a href="?page={{ i }}">{{ i }}</a>
        {% endfor %}
        {% endif %}
        <a class="current-page" href="?page={{ page_obj.number }}" >{{ page_obj.number }}</a>
        {% if right %}
        {% for i in right %}
        <a href="?page={{ i }}">{{ i }}</a>
        {% endfor %}
        {% if right_has_more %}
        <span>...</span>
        {% endif %}
        {% endif %}
        {% if last %}
        <a href="?page={{ paginator.num_pages }}">{{ paginator.num_pages }}</a>
        {% endif %}
    </div>
    {% endif %}
</main>
{% endblock main %}
